html {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*.toplogo {
    height: 20%;
    width: 20%;
}*/

.btn-delete, .btn-delete:hover, .btn-delete:active, .btn-delete:visited {
    background-color: #ff5889;
    color: white;
}

.btn-email, .btn-email:hover, .btn-email:active, .btn-email:visited {
    background-color: #FFBD68;
    color: white;
}

.btn-news, .btn-news:hover, .btn-news:active, .btn-news:visited {
    background-color: #6c5b7b;
    color: white;
}



form {
    margin-bottom: 0;
}