{% extends "app/layout.html" %}

{% block content %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<h1>Modification d'un champ</h1>
<form action="{% url 'update_field' %}" method="post">
    {% csrf_token %}
    <label>Edit value: {{ field }}</label>
    <input type="text" class="form-control" name="new_value" value="{{ value }}" />
    <input type="hidden" name="field" value="{{ field }}" />
    <input type="hidden" name="id" value="{{ id }}" />
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>

{% endblock %}