{% extends "app/layout.html" %}
{#{% block additional_styles %}
<style>
body {
background:linear-gradient(to bottom right, #FFBD68, #FF5889); background-repeat: no-repeat; background-size:auto auto;
}
</style>
{% endblock %}#}
{% block content %}
<body style="background:linear-gradient(to bottom right, #FFBD68, #FF5889); background-repeat: no-repeat; background-size:auto auto;">
<div class="jumbotron">
    <img class="toplogo" src="../../static/app/logo_cf_128_2.png">
    <h1>Bienvenue</h1>
    <p class="lead">Interface de gestion des salles de sport et clé d'API</p>
    <p>
        <a href="{% url 'manage_gym' %}" class="btn btn-primary">
        G&eacute;rer les salles de sport
        </a>
    </p>
</div>
</body>
{% endblock %}
